body {
            width: 100%;

            background-color: aquamarine;
            font-family: "Ancizar Serif", sans-serif;
            display: flex;
            flex-direction: column;

            background: linear-gradient(90deg, #A100FFFF 0%, #71C4FFFF 100%);
        }

        h1 {
            color: green;
            font-size: 8rem;
            font-weight: 700;
        }

        p {
            color: blueviolet;
        }

        #apology {
            font-size: 3rem;
            font-weight: 700;
        }

        #promise {
            font-size: 1.5rem;
            font-style: italic;
        }

        div {
            border: dashed orange 1rem;
            margin: 2rem;
            padding: 3rem;
        }

        ul {
            list-style-type: none;
            display: flex;
            padding: 2rem;
            margin: 2rem;
        }

        li:hover {
            transform: scale(1.2);
            opacity: 0.5;
            cursor: pointer;
        }

        img {
            width: 200px;
            height: auto;
        }

        .protector {
            border: double black 1rem;
            padding: 1rem;
            text-align: start;
            max-width: 40%;

            align-self: center;

            border-radius: 30px;
            box-shadow: 0 0 50px 10px black;
            background-color: white;
        }